<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoodMinder App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <style>
    .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    }
  </style>
</head>

<body>
  <%- include('_navout') %>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Track Your Mood</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to MoodMinder. Your moods matter. Keep a diary of your emotions and the associated triggers to better understand yourself. Create your entries and we process the data and show you your stats.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/register" class="btn btn-primary btn-lg px-4 me-sm-3">Sign Up</a>
        <a href="/login" class="btn btn-secondary btn-lg px-4">Log In</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 100vh;">
      <div class="container px-5">
        <img src="/img/logo.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="emotion cartoon" width="400" height="400" loading="lazy">
      </div>
    </div>
  </div>

  <%- include('_footer') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>